<template>
    <div>
        <div class="col-11 flex-end">
            <div class="mb-2">
                <button @click="createContract" class="btn btn-primary p-2">
                    {{ __('contract.save') }}
                </button>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <input
                        class="form-control p-1-2"
                        v-model="contractTitle"
                        name="name"
                        type="text"
                        :placeholder="__('contract.title')"
                    />
                </div>
                <div class="col-8">
                    <editor></editor>
                </div>
            </div>
        </div>
    </div>
</template>
<script>


export default {
    components: {},
    props: {},
    data() {
        return {
            contractTitle: ''
        };
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {
        createContract(){
            axios
                .post(`/contracts/create`, {
                    editorContent: $("#editor").val(),
                    contractTitle: this.contractTitle,
                })
                .then((res) => {
                    this.$swal.fire({
                        icon: "success",
                        title: this.__("contract.contract_created_succesfully"),
                        showConfirmButton: true,
                        timer: 3000,
                    });
                })
                .catch((err) => {
                    this.$swal.fire({
                        icon: "error",
                        title: this.__("contract.errors.create_contract"),
                        showConfirmButton: true,
                        timer: 3000,
                    });
                });
        }
    },
};
</script>
