<template>
    <div>
<!--        https://github.com/ankurk91/vue-trumbowyg-->
        <trumbowyg id="editor" v-model="content" class="form-control" name="content"></trumbowyg>
    </div>
</template>

<script>
// Import this component
import Trumbowyg from 'vue-trumbowyg';

// Import editor css
import 'trumbowyg/dist/ui/trumbowyg.css';

export default {
    props: {
        editorContent: {
            type: String,
            required: true
        },
    },
    data () {
        return {
            content: this.editorContent,
            config: {
                // Get options from
                // https://alex-d.github.io/Trumbowyg/documentation
            }
        }
    },
    components: {
        Trumbowyg
    }
}
</script>
