<template>
    <div>
        <div class="col-11 flex-end">
            <div class="mb-2">
                <button @click="deleteContract" class="btn btn-danger p-2">
                    {{ __('contract.delete') }}
                </button>
                <button @click="saveContract" class="btn btn-primary p-2">
                    {{ __('contract.save') }}
                </button>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <input
                        class="form-control p-1-2"
                        v-model="contractTitle"
                        name="name"
                        type="text"
                        :placeholder="__('contract.title')"
                    />
                </div>
                <div class="col-8">
                    <editor :editor-content="editorContent"></editor>
                </div>
            </div>
        </div>
    </div>
</template>
<script>


export default {
    components: {},
    props: {
        contractTitle: {
            type: String,
            required: true
        },
        editorContent: {
            type: String,
            required: true
        },
        contractId: {
            type: String,
            required: true
        },
    },
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {
    },
    methods: {
        saveContract() {
            axios
                .post(`/contracts/${this.contractId}/update`, {
                    editorContent: $("#editor").val(),
                    contractTitle: this.contractTitle,
                })
                .then((res) => {
                    window.location.href = `/`
                })
                .catch((err) => {
                    this.$swal.fire({
                        icon: "error",
                        title: this.__("contract.errors.create_contract"),
                        showConfirmButton: true,
                        timer: 3000,
                    });
                });
        },
        deleteContract() {
            window.location.href = `/contracts/${this.contractId}/delete`
        }
    },
};
</script>
