<template>
    <div>
        <label>{{__('contractuo.welcome') + ' ' + name}}</label>
        <div>
            <button @click="createContract" class="btn btn-primary p-2">
                {{ __('contract.create') }}
            </button>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Contract title</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(contract,i) in contracts" :key="i">
                <td class="hover" @click="edit(contract.id)">{{ contract.title }}</td>
                <td class="hover" @click="edit(contract.id)">{{ 'click to edit' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>


export default {
    components: {},
    props: {
        name: {
            type: String,
            required: true
        },
        contracts: {
            type: Array,
            required: true
        },
    },
    methods:{
        createContract(){
            window.location.href = '/contracts/create'
        },
        edit(id){
            window.location.href = `/contracts/${id}`
        }
    }
};
</script>
<style lang="scss" scoped>
.hover{
    cursor: pointer;
}
</style>
